{% extends "layout.html" %}
{% block title %}Api commands{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script>let ctx = "{{web_ctx}}"</script>
    <script src="{{ url_for('static', filename = 'api_list.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="text-center" style="display:flex;justify-content: center">
        <table class="table table-hover table-bordered align-middle table-responsive-sm" style="margin: 20px;width:90%;">
            <thead class="table-dark">
            <tr>
                <th scope="col">Api</th>
                <th scope="col" style="width: 10%">alternative keywords</th>
                <th scope="col" style="width: 70%">Notes</th>
            </tr>
            </thead>
            <tbody>

            <tr class="table-dark">
                <td class="text-center" colspan="3">EXECUTABLES</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}binaries'>binaries</a></td>
                <td class="text-start"><a href='{{ web_ctx }}binaries'>bins b</a></td>
                <td class="text-start">List binaries</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}execs'>execs</a></td>
                <td class="text-start"><a href='{{ web_ctx }}execs'>ex</a></td>
                <td class="text-start">List execs</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}commands'>commands</a></td>
                <td class="text-start"><a href='{{ web_ctx }}commands'>cmds</a></td>
                <td class="text-start">List execs with binary path</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}proc_tree'>proc_tree</a></td>
                <td class="text-start"></td>
                <td class="text-start">Process Tree browser</td>
            </tr>
            <tr class="table-dark">
                <td class="text-center" colspan="3">COMPILATION</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}compiled'>compiled</a></td>
                <td class="text-start"><a href='{{ web_ctx }}compiled'>cc</a></td>
                <td class="text-start">List compiled files</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}compilation_info_for'>compilation_info_for?path=FILE</a></td>
                <td class="text-start"><a href='{{ web_ctx }}compilation_info_for'>ci</a></td>
                <td class="text-start">Display compilation info of given file</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}revcomps_for'>revcomps_for?path=FILE</a></td>
                <td class="text-start"><a href='{{ web_ctx }}revcomps_for'>rcomps</a></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}compiler_pattern'>compiler_pattern</a></td>
                <td class="text-start"></td>
                <td class="text-start">Show compiler patterns used to detect compilations (set in config)</td>
            </tr>

            <tr class="table-dark">
                <td class="text-center" colspan="3">MODULES</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}linked_modules'>linked_modules</a></td>
                <td class="text-start"><a href='{{ web_ctx }}linked_modules'>lm m</a></td>
                <td class="text-start">List linked modules</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}moddeps_for'>moddeps_for?path=FILE</a></td>
                <td class="text-start"></td>
                <td class="text-start">Display module dependencies info of given file</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}linker_pattern'>linker_pattern</a></td>
                <td class="text-start"></td>
                <td class="text-start">Show linker patterns used to detect linking commands (set in config)</td>
            </tr>
            <tr class="table-dark">
                <td class="text-center" colspan="3">DEPENDENCIES</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}deps_for'>deps_for?path=FILE</a></td>
                <td class="text-start"><a href='{{ web_ctx }}deps_for'>deps</a></td>
                <td class="text-start">Show file dependencies</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}revdeps_for'>revdeps_for?path=FILE</a></td>
                <td class="text-start"><a href='{{ web_ctx }}revdeps_for'>rdeps</a></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}deps_tree'>deps_tree</a></td>
                <td class="text-start"></td>
                <td class="text-start">Dependencies Tree browser</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}revdeps_tree'>revdeps_tree</a></td>
                <td class="text-start"></td>
                <td class="text-start">Reverse Dependencies Tree browser</td>
            </tr>
            <tr class="table-dark">
                <td class="text-center" colspan="3">OPENED FILES</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}ref_files'>ref_files</a></td>
                <td class="text-start"><a href='{{ web_ctx }}ref_files'>refs</a></td>
                <td class="text-start">List opened files</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}faccess'>faccess?path=FILE</a></td>
                <td class="text-start"><a href='{{ web_ctx }}faccess'>fa</a></td>
                <td class="text-start">Show processes that accessed given file</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}procref'>procref?pid=PID</a></td>
                <td class="text-start"><a href='{{ web_ctx }}procref'>pr</a></td>
                <td class="text-start">Show files referenced by given processes</td>
            </tr>
            <tr class="table-dark">
                <td class="text-center" colspan="3">FUNCTION / TYPE DATABASE</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}ftdb-module'>ftdb-module</a></td>
                <td class="text-start"></td>
                <td class="text-start">Module name</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}ftdb-release'>ftdb-release</a></td>
                <td class="text-start"></td>
                <td class="text-start">Show files referenced by given processes</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}ftdb-dir'>ftdb-module</a></td>
                <td class="text-start"></td>
                <td class="text-start">Module name</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}ftdb-version'>ftdb-release</a></td>
                <td class="text-start"></td>
                <td class="text-start">Show files referenced by given processes</td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}sources'>sources</a></td>
                <td class="text-start"><a href='{{ web_ctx }}sources'>srcs</a></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}modules'>modules</a></td>
                <td class="text-start"><a href='{{ web_ctx }}modules'>mds</a></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}functions'>functions</a></td>
                <td class="text-start"><a href='{{ web_ctx }}functions'>funcs</a></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}globals'>globals</a></td>
                <td class="text-start"><a href='{{ web_ctx }}globals'>globs</a></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}funcdecls'>funcdecls</a></td>
                <td class="text-start"></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}types'>types</a></td>
                <td class="text-start"></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}types'>types</a></td>
                <td class="text-start"></td>
                <td class="text-start"></td>
            </tr>
            <tr>
                <td class="text-start fw-bolder"><a href='{{ web_ctx }}reload_ftdb'>reload_ftdb?path=FILE</a></td>
                <td class="text-start"></td>
                <td class="text-start">Switch ftdb database</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}