{% extends "layout.html" %}
{% block title %}Reversed Dependencies Tree{% endblock %}
{% block head %}
{{ super() }}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>let ctx = "{{web_ctx}}"</script>
    <script src="{{ url_for('static', path = '/revdeps.js') }}"></script>
{% endblock %}
{% block content %}

<div class="sticky">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{web_ctx}}/revdeps_tree">Reversed Dependencies Tree</a>
      <form class="container-fluid justify-content-start">
      <div class="form-check form-switch">
      </div>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex"  action="" method="get">
        <input class="form-control me-2" type="search" id="search_input" placeholder="Search" aria-label="Search" onchange="reset_e()">
        <button class="btn btn-outline-success" onclick="searchModule(this);return false">Search</button>
      </form>
    </div>
  </nav>
</div>

<div id="tree_pagination" class="row  align-middle ml-10"></div>

<div class="modal fade" id="proc_info_modal" tabindex="-1" aria-labelledby="proc_info_modalLabel" aria-hidden="true"  data-bs-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="proc_info_modalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Module details</h5>
        <div class="process_details">
          <div class="row">
            <div>Filename:</div><div class="module_filename"></div>
          </div>
          <div class="row">
            <div>Original Path:</div><div class="module_path"></div>
          </div>
          <div class="row">
            <div class="col-1">PPID:</div><div class="col-2 module_parent"></div>
            <div class="col-1">Type:</div><div class="col-2 module_type"></div>
            <div class="col-1">Access:</div><div class="col-2 module_access"></div>
            <div class="col-1">Exists:</div><div class="col-2 module_exists"></div>
            <div class="col-1">Link:</div><div class="col-2 module_link"></div>
          </div>
        </div>
        <hr>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" id="openModal" style="display: none;">
            <h5 class="accordion-header" id="headingFiles">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiles" aria-expanded="true" aria-controls="collapseFiles">
                All Reversed Dependencies
              </button>
              </h5>
            <div id="collapseFiles" class="accordion-collapse collapse show" aria-labelledby="headingFiles">
              <div class="accordion-body">
              <button class="btn btn-sm btn-success" id="prevFilesButton" onclick="prevFiles()" disabled>Prev</button>
              <button class="btn btn-sm btn-success" id="nextFilesButton" onclick="nextFiles()" >Next</button>
              <span>Page </span><span class="files_page_numbers">1/1</span>
              <div class="file_contents">
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', path = '/revdeps_modal.js') }}"></script>

{% if exe and exe["count"] > exe["num_entries"] %}
<script>
  render_pagination("tree_pagination", {{exe['page'] | int}}, {{exe['page_max'] | int}}, {{ exe['count'] | int}}, {{exe['entries_per_page'] | int}}, "{{exe['origin_url']}}")
</script>
{% endif %}

<div class="tree">
  <ul class="treeview-animated-list mb-3 nested" id ="main_tree">
  {%for i in range(0, exe['num_entries'])%}
    <li class="page-item">
      <div class="no-before" >
        <button class="pid col-1 btn btn-sm me-1 {{ 'btn-primary caret' if exe['entries'][i]['num_deps'] > 0 else 'btn-outline-primary nonCaret' }} {{exe['entries'][i]['path']}}" data-path= "{{exe['entries'][i]['path']}}" {{"" if exe['entries'][i]['num_deps'] else "disabled" }}>
          {% if exe['entries'][i]['class'] %}
          Linked Module
          {%else%}
          Generic File
          {% endif %}
          {% if exe['entries'][i]['num_deps'] %}
          <span class="badge rounded-pill bg-danger child_len">{{exe['entries'][i]['num_deps']}}</span>
          {% endif %}
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#proc_info_modal" data-bs-pid="{{exe['entries'][i]['parent']}}" data-bs-path="{{exe['entries'][i]['path']}}">i</button>
        <span>{{exe['entries'][i]['path']}}</span>
        <span>
          <a href="{{web_ctx}}/revdeps_tree?path={{exe['entries'][i]['path']}}" title="Start from this module" style="text-decoration:none" target="_blank">^</a>
        </span>
      </div>
    </li>
  {%endfor%}
  </ul>
</div>

{% endblock %}