.file_mode_r{
    margin:0px;
    font-size: small;
}
.file_mode_rw{
    color:orange;
    margin:0px;
    font-size: small;
}
.file_mode_w{
    color:red;
    margin:0px;
    font-size: small;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}

.tree li button.pid {
    width: 220px !important;
}

.tree li.page-item::before {
    display: none;
}
.tree li.page-item::after {
    display: none;
}

.tree ul {
    list-style: none;
}

.tree ul li {
    padding:10px 0 0 0;
    position: relative;
}
.tree>ul>li>ul {
    padding-left: 15px;
}

.tree ul li:before,
.tree ul li ul li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -10px;
    border-left: 1px solid #999;
    width: 1px;
    height: 100%;
}

.tree ul li:after,
.tree ul li ul li:after {
    content: "";
    position: absolute;
    border-top: 1px solid #999;
    top: 25px;
    left: -10px;
    width: 10px;
}

.tree ul li:last-child:before {
    top: 0px;
    height: 25px;
}

.tree>ul>li:after,
.tree>ul>li:last-child:before {
    content: unset;
}

.tree li span {
    display:inline-block;
    height: fit-content;
}

.tree li span.bin {
    font-weight: bold; 
}

.tree li button.pid span.open_len{
    float:right;
}

.tree li button.pid span.child_len{
    float:left;
}
.tree li span.etime{
    min-width:100px;
    max-width:100px;
    text-align: center;
}

.linker{
    background-color:yellow;
}
.compiler{
    background-color:lightgreen;
}

.advanced-form{
    padding: 10px;
    margin-left: 30px;
}

#searchNumbers{
    padding: 10px;
    margin-left: 50px;
}

.classLabel{
    margin-right: 15px;
    margin-top: 6px;
}

.upper_parent{
    cursor: pointer;
    text-decoration: none;
    position:absolute;
    left:-20px;
}
span.col-md-auto{
    padding: 13px;
}
ul.pagination{
    padding: 10px;
}

div.row{
    padding: 10px;
}